@media (max-width: 1350px) and (min-width: 1023px){
    .main {
        margin-left: 50px;
    }
    .point_break_information_text {
        margin-right: 20px;
    }
    .camp_location_information {
        margin-left: 0px;
        font-size: 28px;
    }
    .camp_location_picture {
        width: 90%;
    }
}
@media (max-width: 1350px) and (min-width: 1244px){
    .point_break {
        width: 92%;
    }
    .point_break_information_picture {
        margin-left: 100px;
    }
}
@media (max-width: 1350px) {
    .bottom.surfboard.container {
        padding-right: 15px;
    }
}
@media (max-width: 1245px) {
    .side_bar_text {
        right: -190px;
        font-size: 10px;
        line-height: 1.5em;
    }
    .social_block {
        left: auto;
        padding-right: 5px;
        padding-left: 5px;
    }
    .section.surfboard {
        padding-right: 120px;
    }
    .point_break {
        width: 90%;
    }
    .point_break_information_picture {
        margin-left: 40px;
    }
    .point_break_information_text {
        margin-left: 60px;
    }
    .bottom.surfboard.container {
        width: 96%;
    }
}

@media (max-width: 1136px) {
    .heading {
        font-size: 48px;
    }
    .board_type_left {
        right: 20px;
    }
    .board_name_left {
        right: -2px;
    }
    .board_price_left {
        right: -34px;
    }
    .board_buy_button_left {
        right: -26px;
    }
    .point_break {
        width: 90%;
    }
    .board_type_left {
        right: 42px;
    }
    .board_name_left {
        right: 20px;
    }
    .board_price_left {
        right: -14px;
    }
    .board_buy_button_left {
        right: -8px;
    }
}
@media (max-width: 1024px) {
    .main {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0px;
    }
    .section {
        padding-right: 0px;
        padding-left: 0px;
    }
    .container {
        padding-top: 0px;
    }
    .hold_slide_content {
        top: 645%;
        width: 100%;
    }
    .right_surfboard {
        display: none;
    }
    .middle_surfboard,
    .left_surfboard {
        width: 50%;
    }
    .board_type_middle {
        right: -385px;
    }
    .board_name_middle {
        right: -405px;
    }
    .board_price_middle {
        right: -435px;
    }
    .board_buy_button_middle {
        right: -428px;
    }
    .surfboard_information_box {
        margin-top: 20px;
    }
    .surfer_on_board {
        width: 105%;
    }
    .point_break {
        width: 100%;
    }
    .point_break_information_box {
        margin-top: 80px;
    }
    .point_break_information_picture {
        margin-left: 40px;
        width: 40%
    }
    .point_break_information_text {
        margin-left: 60px;
    }
    .point_break.container {
        margin-left: 0;
    }
    .camp_location_information {
        margin-left: 0px;
        font-size: 28px;
    }
    .camp_location_picture {
        width: 90%;
    }
    .small_heading {
        margin-top: 30px;
    }
}
@media (max-width: 910px) {
    header {
        justify-content: space-between;
    }
    header nav {
        display: none;
    }
    .hamburger {
     padding-left: 30px;
    }
    .board_type_left {
        right: -10px;
    }
    .board_name_left {
        right: -30px;;
    }
    .board_price_left {
        right: -58px;
    }
    .board_buy_button_left {
        right: -52px;
    }
    .surfboard_information_text {
        width: 80%
    }
}
@media (max-width: 800px) {
    .hold_slide_content {
        top: 425%
    }
    .heading {
        font-size: 30px;
    }
    .surfer{
        margin-left: 30px;
    }
    .container.bottom_text p {
        font-size: 16.5px;
    }
    .padded_text_container {
        padding-left: 10px;
    }
    .padded_text {
        padding-top: 0px;
        padding-right: 15%;
    }
    .heading_box {
        margin-top: 40px;
    }
}
@media (min-width: 911px) {
    .hamburger {
        display: none;
    }
}
