body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding-top: 45px;
    margin: 0 auto;
}
.main_title {
    background-image: url("img/Main_image.jpg");
    min-height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
}
header {
    display: flex;
    align-items: center;
}
nav {
    margin-left: 13%;
    float: left;
}
nav a {
    padding-right: 25px;
    padding-left: 25px;
    line-height: 66px;
    letter-spacing: 2px;
    transition: color 250ms ease;
    color: #474747;
    display: inline-block;
    text-decoration: none;
    font-family: Lato,sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.center {
    overflow: hidden;
    width: 100%;
    padding-right: 75px;
    padding-left: 75px;
    clear: left;
}
.side_bar {
    position: fixed;
    top: -5px;
    right: 0;
    overflow: hidden;
    width: 75px;
    height: 90vh;
    min-height: 500px;
}
.side_bar_text {
    position: absolute;
    top: 8vw;
    right: -165px;
    width: 400px;
    height: 25px;
    transform: rotate(-90deg);
    font-family: Oswald,sans-serif;
    color: #d4d4d4;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1.8em;
}
.social_block {
    position: absolute;
    right: 0;
    padding: 10px;
    text-align: center;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    left: 0;
}
.social_icon {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 25px auto;
    clear: left;
}