body {
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding-top: 45px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.line1,
.line2,
.line3,
.line4,
.line5 {
    position: absolute;
    background-color: #585858;
    height: 100%;
    left: 0;
    width: 1px; 
    z-index: -1;
    opacity: 0.06;
}
.line2 {
    left: 25%;
}
.line3 {
    left: 50%;
}
.line4 {
    left: 75%;
}
.line5 {
    left: 100%;
}
.hold_slide_content {
    position: absolute;
    left: 0;
    top: 800%;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    transform: translate(1,-460px);
   
} 
header {
    display: flex;
    align-items: center;
}
nav {
    margin-left: 13%;
    float: left;
}
nav a {
    padding-right: 25px;
    padding-left: 25px;
    line-height: 66px;
    letter-spacing: 2px;
    transition: color 250ms ease;
    color: #474747;
    display: inline-block;
    text-decoration: none;
    font-family: Lato,sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.section {
    /* position: absolute; */
    overflow: hidden;
    width: 100%;
    padding-right: 75px;
    padding-left: 75px;
    clear: left;

}
.sidebar {
    position: fixed;
    top: -5px;
    right: 0;
    overflow: hidden;
    width: 75px;
    height: 90vh;
    min-height: 500px;
}
.side_bar_text {
    position: absolute;
    top: 8vw;
    right: -165px;
    width: 400px;
    height: 25px;
    transform: rotate(-90deg);
    font-family: Oswald,sans-serif;
    color: #d4d4d4;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1.8em;
}
.main_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 45px;
    background-image: url(/img/Main_image.jpg);
    background-position: 50% 0;
    background-size: 100%;
    background-repeat: repeat-y;
    
}
.social_block {
    position: absolute;
    right: 0;
    padding: 10px;
    text-align: center;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    left: 0;
}
.social_icon {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 25px auto;
    clear: left;
}
.hero{
 
    height: 100%;
    width: 100%;
}
.surfer {

    width: 85%;
    float: right;
    box-shadow: 6px 6px 23px 0 rgb(26 45 63 / 37%);
    filter: brightness(110%);
    display: block;
    border: 0;
    /* max-width: 100%; */
    /* vertical-align: middle; */
}
.text_block {
    margin-bottom: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #5da8ef;
    font-family: Lato,sans-serif;
    text-transform: uppercase;
}
.heading {
    margin: 0;
    font-family: 'Playfair Display',sans-serif;
    color: #072933;
    font-size: 4.5em;
    line-height: 1.2em;
    font-weight: 700;
}
.paragraph {
    width: 57%;
    font-family: Lato,sans-serif;
    color: #363535;
    line-height: 2em;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
}
.container.bottom_text {
    text-align: center;
    transform: translate(0,5%);
    padding-bottom: 45px;
}
.container.bottom_text p {
    display: block;
    max-width: 610px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Playfair Display',sans-serif;
    color: #333;
    font-size: 23.5px;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0.9;
    
}
.text_block_2 {
    font-family: Lato,sans-serif;
    color: #696969;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.middle_line {
    display: block;
    width: 2px;
    height: 75px;
    margin: 45px auto 0;
    background-color: #5da8ef;
}
.column_right {
    width: 50%;
    position: relative;
    float: left;
    padding-left: 10px;
}
.column_left {
    width: 50%;
    padding-top: 75px;
    padding-right: 10px;
    padding-left: 0;
    position: relative;
    float: left;
}
.padded_text_container {
    padding-left: 65px;
}
.padded_text {
    padding-top: 45px;
    padding-right: 30%;
    font-family: Lato,sans-serif;
    color: #949494;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
.padded_link {
    padding-bottom: 5px;
    clear: left;
    border-bottom: 2px solid #5da8ef;
    color: #3f3f3f;
    text-decoration: none;
    font-family: Oswald,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 37px
}
.surfer_on_rocks {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.video_image {
    right: 15%;
    width: 115%;
    max-width: 115%;
    box-shadow: -1px 1px 23px 0 rgb(26 45 63 / 37%);
    /* opacity: 1; */
    /* transform: translateX(0px) translateY(0px) translateZ(0px); */
    position: relative;
    display: inline-block;
}
.surfer_on_waves{
    position: relative;
    /* border: 0; */
    max-width: 100%;
    vertical-align: middle;
}
.section.section.surfboard {
    text-align: center;
}
.samll_blue_heading {
    color: #5da8ef;
    font-size: 13px;
    font-family: Oswald,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sub_heading {
    margin-top: 0;
    font-family: 'Playfair Display',sans-serif;
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}
.surfboard_menu {
    display: flex;
    align-items: center;
    width: 100%;
}
.left_surfboard, 
.middle_surfboard,
.right_surfboard {
    width: 33.33%;
    display: flex;
    align-items: center;
}
.board_type_left,
.board_name_left,
.board_price_left,
.board_buy_button_left  {
    position: absolute;
    top: 57%;
    right: 67px;
    width: 128%;
}
.board_name_left {
    right: 46px;
}
.board_price_left,
.board_buy_button_left {
    top: 66%;
    right: 17px;
}
.board_buy_button_left {
    top: 70%;
    right: 24px;
}
.board_type_middle,
.board_name_middle,
.board_price_middle,
.board_buy_button_middle {
    position: absolute;
    top: 57%;
    right: -269px;
    width: 128%;
}
.board_name_middle {
    right: -289px;
}
.board_price_middle,
.board_buy_button_middle {
    top: 66%;
    right: -321px;
}
.board_buy_button_middle {
    top: 70%;
    right: -314px;
}
.board_type_right,
.board_name_right,
.board_price_right,
.board_buy_button_right {
    position: absolute;
    top: 57%;
    left: 84%;
}
.board_name_right {
    left: 84%;
}
.board_price_right,
.board_buy_button_right {
    top: 66%;
    left: 90%;
}
.board_buy_button_right {
    top: 70%;
    left: 90%;
}
.board_type_left,
.board_type_middle, 
.board_type_right {
    font-family: Oswald,sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}
.board_name_left,
.board_name_middle,
.board_name_right {
    font-family: 'Playfair Display',sans-serif;
    font-size: 1.1em;
    line-height: 2.0em;
    font-weight: 400;
}
.board_price_left,
.board_price_middle,
.board_price_right {
    font-family: Oswald,sans-serif;
    color: #ce60a8;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 300;
}
.board_buy_button_left,
.board_buy_button_middle,
.board_buy_button_right {
    font-family: Oswald,sans-serif;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    line-height: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
}
.surfboard_information_box {
    display: flex;
}
.surfboard_information_text {
    width: 42%;
}
.paragraph_after_surfboard {
    font-family: Lato,sans-serif;
    color: #949494;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.surfer_on_board {
    width: 99%;
}
.small_line {
    width: 10%;
    height: 2px;
    background-color: #5da8ef;
    margin-bottom: 40px;
}
.point_break_information_box {
    display: flex;
}